/.vs
OneNoteClone/bin/Debug
OneNoteClone/obj/Debug
*.cache
OneNoteClone/obj/Debug/OneNoteClone.csprojAssemblyReference.cache
OneNoteClone/obj/Debug/OneNoteClone.csproj.FileListAbsolute.txt
OneNoteClone/obj/Debug/OneNoteClone_MarkupCompile.cache
OneNoteClone/obj/Debug/OneNoteClone_MarkupCompile.lref
